* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "verdana";
}

body {
  display: flex;
  justify-content: center;
  background: lightgray;
}

img {
  display: block;
}

.wrapper {
  width: 1280px;
  height: 720px;
  background-color: rgb(50, 50, 50);
  display: flex;
}

.header {
  width: 280px;
  height: 100%;
  border-right: 2px solid white;
  display: flex;
  flex-direction: column;
}
.header > div {
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.header__logo {
  justify-content: center;
  text-align: center;
  font: italic bold 30pt/50px "Times New Roman";
  color: white;
}
.header__info {
  justify-content: flex-end;
  text-align: center;
  font: normal 10pt/16pt "Verdana";
  color: darkgray;
  margin-bottom: 20px;
}

.main {
  width: 1000px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.main__nav {
  width: 100%;
  height: 120px;
  border-bottom: 2px solid white;
  position: relative;
}
.main__nav img {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 30px;
}

.main__content {
  width: 100%;
  height: 100%;
  display: flex;
}

.main__item {
  width: 250px;
  height: 100%;
  padding: 70px 40px;
  opacity: 0.4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
  transition: all 0.6s;
  z-index: 1;
}

.main__item-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  color: white;
  position: relative;
  z-index: 1;
}
.main__item-text h1 {
  margin-bottom: 10px;
}
.main__item-text div {
  margin: 10px 0;
}
.main__item-text h4 {
  margin: 10px 0;
}
.main__item-text p {
  margin: 10px 0;
  font: normal 15px/1.5 "verdana";
}

.main__item img {
  width: 100%;
  transition: all 0.6s;
  position: relative;
  z-index: 1;
}

.main__item .main__item-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("./img/back.png");
  opacity: 0;
  transform: translateX(-100%);
  transition: all 0.6s;
  z-index: 0;
}

.main__item:hover {
  opacity: 1;
}

.main__item:hover img {
  transform: scale(1.2) translate(10px, -10px);
}

.main__item:hover .main__item-overlay {
  opacity: 1;
  transform: translateX(0);
}
