@use "sass:map";
@use "../abstracts/variables" as var;
@use "../abstracts/mixin" as mix;

.main {
  height: 100%;
  @include mix.flex-col;

  &__nav {
    width: 100%;
    height: 120px;
    border-bottom: 2px solid map.get(var.$colors, "white");

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 10px;

    img {
      width: 30px;
      height: 30px;
    }

    @include mix.respond(xl) {
      height: 100px;
    }

    @include mix.respond(lg) {
      height: 80px;
    }
  }

  &__content {
    width: 100%;
    height: 100%;
    display: flex;

    @include mix.respond(md) {
      height: auto;
      flex-wrap: wrap;
    }
  }

  &__item {
    @include mix.flex-col;
    height: 100%;
    padding: 70px 40px;
    opacity: 0.4;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
    transition: all 0.6s;
    z-index: 1;

    flex-basis: 250px;
    flex-grow: 0;
    flex-shrink: 0;

    &-text {
      @include mix.flex-col;
      width: 100%;
      color: map.get(var.$colors, "white");
      position: relative;
      z-index: 1;

      p {
        @include mix.font-setup(map.get(var.$font-sizes, p));
      }
    }

    img {
      width: 100%;
      transition: all 0.6s;
      position: relative;
      z-index: 1;
    }

    &-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url("../img/back.png");
      opacity: 0;
      transform: translateX(-100%);
      transition: all 0.6s;
      z-index: 0;
    }

    &:hover {
      opacity: 1;

      img {
        transform: scale(1.2) translate(5px, -5px);
      }

      .main__item-overlay {
        opacity: 1;
        transform: translateX(0);
      }
    }

    @include mix.respond(xl) {
      padding: 50px 30px;
      flex-grow: 1;
      flex-shrink: 1;

      &-text {
        p {
          font-size: 0.9em;
        }
      }
    }

    @include mix.respond(md) {
      height: auto;
      padding: 30px 30px;
      min-height: 500px;
      flex-basis: 45%;

      &:hover {
        img {
          transform: scale(1.1) translate(5px, -5px);
        }
      }
    }

    @include mix.respond(sm) {
      padding: 30px 50px;
      flex-basis: 100%;
    }
  }
}
