@use "sass:map";
@use "../abstracts/variables" as var;
@use "../abstracts/mixin" as mix;

.select-main {
  $white: map.get(var.$colors, "white");
  $gray: map.get(var.$colors, "gray");
  $pink: map.get(var.$colors, "pink");

  &__grid {
    width: 750px;
    padding: 40px 20px;
    flex-wrap: wrap;
    @include mix.center-block-x;
    @include mix.flex-center;
  }

  &__item {
    width: 88px;
    height: 94px;
    border: 3px solid $white;
    border-radius: 10px;
    background-color: $gray;
    overflow: hidden;
    transform: skewX(-12deg);
    transition: transform 0.1s, background-color 0.6s;

    &:hover {
      background-color: $pink;
      transform: skewX(-12deg) scale(1.4);
      z-index: 1;
    }
  }

  &__image {
    width: 120%;
    height: 100%;
    transform: skewX(12deg) translateX(-8px);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
}

@for $i from 1 through 32 {
  .select-main__item:nth-child(#{$i}) .select-main__image {
    background-image: url("../img/hero#{if($i < 10, '0', '')}#{$i}.png");
  }
}
