@use "sass:map";
@use "../abstracts/variables" as var;

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: map.get(var.$font-families, base);
}

img {
  display: block;
}
