* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-image: url("./img/bg.png");
  background-size: cover;
  background-attachment: fixed;
}

.select-main {
  margin: 50px 0;
}

.select-main__grid {
  width: 750px;
  margin: 0 auto;
  padding: 40px 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.select-main__item {
  width: 88px;
  height: 94px;
  margin: 5px;
  border: 3px solid white;
  border-radius: 10px;
  background-color: gray;
  overflow: hidden;
  transform: skewX(-12deg);
  transition: transform 0.1s, background-color 0.6s;
}
.select-main__item:hover {
  background-color: pink;
  transform: skewX(-12deg) scale(1.4);
  z-index: 1;
}

.select-main__image {
  width: 120%;
  height: 100%;
  transform: skewX(12deg) translateX(-8px);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.select-main__item:nth-child(1) .select-main__image {
  background-image: url("./img/hero01.png");
}
.select-main__item:nth-child(2) .select-main__image {
  background-image: url("./img/hero02.png");
}
.select-main__item:nth-child(3) .select-main__image {
  background-image: url("./img/hero03.png");
}
.select-main__item:nth-child(4) .select-main__image {
  background-image: url("./img/hero04.png");
}
.select-main__item:nth-child(5) .select-main__image {
  background-image: url("./img/hero05.png");
}
.select-main__item:nth-child(6) .select-main__image {
  background-image: url("./img/hero06.png");
}
.select-main__item:nth-child(7) .select-main__image {
  background-image: url("./img/hero07.png");
}
.select-main__item:nth-child(8) .select-main__image {
  background-image: url("./img/hero08.png");
}
.select-main__item:nth-child(9) .select-main__image {
  background-image: url("./img/hero09.png");
}
.select-main__item:nth-child(10) .select-main__image {
  background-image: url("./img/hero10.png");
}
.select-main__item:nth-child(11) .select-main__image {
  background-image: url("./img/hero11.png");
}
.select-main__item:nth-child(12) .select-main__image {
  background-image: url("./img/hero12.png");
}
.select-main__item:nth-child(13) .select-main__image {
  background-image: url("./img/hero13.png");
}
.select-main__item:nth-child(14) .select-main__image {
  background-image: url("./img/hero14.png");
}
.select-main__item:nth-child(15) .select-main__image {
  background-image: url("./img/hero15.png");
}
.select-main__item:nth-child(16) .select-main__image {
  background-image: url("./img/hero16.png");
}
.select-main__item:nth-child(17) .select-main__image {
  background-image: url("./img/hero17.png");
}
.select-main__item:nth-child(18) .select-main__image {
  background-image: url("./img/hero18.png");
}
.select-main__item:nth-child(19) .select-main__image {
  background-image: url("./img/hero19.png");
}
.select-main__item:nth-child(20) .select-main__image {
  background-image: url("./img/hero20.png");
}
.select-main__item:nth-child(21) .select-main__image {
  background-image: url("./img/hero21.png");
}
.select-main__item:nth-child(22) .select-main__image {
  background-image: url("./img/hero22.png");
}
.select-main__item:nth-child(23) .select-main__image {
  background-image: url("./img/hero23.png");
}
.select-main__item:nth-child(24) .select-main__image {
  background-image: url("./img/hero24.png");
}
.select-main__item:nth-child(25) .select-main__image {
  background-image: url("./img/hero25.png");
}
.select-main__item:nth-child(26) .select-main__image {
  background-image: url("./img/hero26.png");
}
.select-main__item:nth-child(27) .select-main__image {
  background-image: url("./img/hero27.png");
}
.select-main__item:nth-child(28) .select-main__image {
  background-image: url("./img/hero28.png");
}
.select-main__item:nth-child(29) .select-main__image {
  background-image: url("./img/hero29.png");
}
.select-main__item:nth-child(30) .select-main__image {
  background-image: url("./img/hero30.png");
}
.select-main__item:nth-child(31) .select-main__image {
  background-image: url("./img/hero31.png");
}
.select-main__item:nth-child(32) .select-main__image {
  background-image: url("./img/hero32.png");
}
